.app-container {
  min-height: 100vh;
  background-color: var(--color-bg-gray-100);
  display: flex;
  flex-direction: column;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.app-main {
  flex-grow: 1;
}
